---
---

@import "variables";

body {

  $font-small: 80%;
  $font-smaller: 75%;

  header {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;

    img {
      margin-left: 0;
      margin-right: 0;
    }

    .logo.logo--lettering {
      margin-top: 0;
    }

    p {
      font-size: $font-small;
      margin: 0;
    }

  }

  .logo.logo--profile {
    float: left;
    margin: 0 0.5em 0 0.5em;
    width: 15%;
  }

  .intro {
    font-size: $font-small;
  }

  .posts {
  /* OK */
  }

  .post {
    margin-top: 2em;
    margin-bottom: 2em;

    h3 {
      margin-bottom: 0;
    }

    .date {
      margin: 0;
      font-size: $font-smaller;
      color: $text-decent-color;
    }

    .more {
      font-size: $font-smaller;
    }
  }

}
