---
---

body {

  header {
    text-align: left;

    img {
      margin-left: 0;
      margin-right: 0;
    }

    .logo.logo--lettering {
      display: inline-block;
      margin-top: 0;
    }

    p {
      display: inline-block;
      margin-left: 0.5em;
    }

  }

  .posts {
    font-size: 80%;
  }

}
