---
---

@import "variables";

body {

  header {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 1em;

    img {
      margin-left: 0;
      margin-right: 0;
    }

    .logo.logo--lettering {
      margin-top: 0;
    }

    p {
      font-size: 90%;
      margin: 0;
    }

  }

  .logo.logo--profile {
    float: left;
    margin: 0.5em 0.5em 0 0.5em;
    width: 15%;
  }

  .posts {
    font-size: 80%;
  }

  .post {
    margin-top: 2em;
    margin-bottom: 2em;

    h3 {
      margin-bottom: 0;
    }

    .date {
      margin: 0;
      font-size: 75%;
      color: $text-decent-color;
    }

    .more {
      font-size: 75%;
    }
  }

}
