body {
  background: #FAFAFA;
  color: #222;
  font-family: "Georgia", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0; }
  body h2 {
    color: #111;
    margin-top: 1.5em; }
  body p {
    text-align: justify;
    vertical-align: top; }
  body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* ensure alt text of image is centered too */
    width: 100%; }
  body .container {
    margin: 0 auto;
    width: 90%; }
  body header {
    margin-bottom: 2em;
    margin-top: 2em; }
  body footer {
    color: #777;
    font-size: 60%;
    margin-top: 4em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center; }

/* And now some extensions for bigger devices, mobile first for the win! */
@media (min-width: 400px) {
  body {
    font-size: 120%; }
    body .container {
      /*width: 85%;*/ } }

@media (min-width: 480px) {
  /* OK */ }

@media (min-width: 600px) {
  body {
    font-size: 150%; }
    body .container {
      /*width: 80%;*/ } }

@media (min-width: 800px) {
  body {
    font-size: 160%; }
    body .container {
      width: 60%; } }

@media (min-width: 1200px) {
  body {
    font-size: 170%; }
    body .container {
      width: 45%; } }

a {
  color: #A63F4B;
  font-weight: bold; }
  a, a:active, a:visited {
    text-decoration: none; }
  a:hover, a.is-active {
    text-decoration: underline; }

.logo {
  display: inline-block;
  font-size: 200%;
  /* alt text should be big enough */
  vertical-align: top; }
  .logo.logo--left {
    width: 65%; }
  .logo.logo--right {
    border-radius: 50%;
    float: right;
    width: 25%; }

.contact {
  display: table; }
  .contact > .contact--icon,
  .contact > .contact--description {
    display: table-cell;
    vertical-align: middle; }
  .contact > .contact--icon {
    width: 1%; }
  .contact > .contact--description {
    padding-left: 0.5em; }
