body {
  margin: 0;
  padding: 0;
  background-color: #F3F3F3;
  color: #222;
  font-family: Georgia, ​ Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center; /* ensure alt text of image is centered too */
}

a, a:active, a:visited {
  text-decoration: none;
  color: #A63F4B;
  font-weight: bold;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.profile--image {
  width: 60%;
}

.profile--name {
  font-size: 200%;
}

footer {
  border-top: 1px solid #E5E5E5;
  color: #777;
  font-size: 200%;
  text-align: center;
  margin-top: 2em;
}

footer > .contact--links {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer > .contact--links > li {
  display: inline-block;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

footer > .contact--owner {
  font-size: 30%;
  vertical-align: top;
}

@media (min-width: 400px) {

  body {
    font-size: 120%;
  }

  .container {
    /*width: 85%;*/
  }

  .profile--image {
    width: 50%;
  }

  footer {
    text-align: right;
  }

  footer > .contact--links {
    float: left;
  }

  footer > .contact--owner {
    vertical-align: super;
  }

}

@media (min-width: 600px) {

  body {
    font-size: 150%;
  }

  .container {
    /*width: 80%;*/
  }

  .profile--image {
    width: 40%;
  }

}

@media (min-width: 800px) {

  body {
    font-size: 180%;
  }

  .container {
    /*width: 60%;*/
  }

  .profile--image {
    width: 30%;
  }

}

@media (min-width: 1200px) {

  body {
    font-size: 200%;
  }

  .container {
    width: 45%;
  }

  .profile--image {
    width: 25%;
  }

}
