body {
  background: #F9F9F9;
  color: #222;
  font-family: "Georgia", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0; }
  body h2 {
    color: #111;
    margin-top: 1.5em; }
  body p {
    text-align: justify; }
  body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* ensure alt text of image is centered too */
    width: 100%; }
  body .container {
    margin: 0 auto;
    width: 90%; }
  body header {
    margin-bottom: 2em;
    margin-top: 2em; }

/* And now some extensions for bigger devices, mobile first for the win! */
@media (min-width: 400px) {
  body {
    font-size: 120%; }
    body .container {
      /*width: 85%;*/ } }

@media (min-width: 480px) {
  /* OK */ }

@media (min-width: 600px) {
  body {
    font-size: 150%; }
    body .container {
      /*width: 80%;*/ } }

@media (min-width: 800px) {
  body {
    font-size: 160%; }
    body .container {
      /*width: 60%;*/ } }

@media (min-width: 1200px) {
  body {
    font-size: 170%; }
    body .container {
      width: 45%; } }

a {
  color: #A63F4B;
  font-weight: bold; }
  a, a:active, a:visited {
    text-decoration: none; }
  a:hover, a.is-active {
    text-decoration: underline; }

footer {
  color: #777;
  margin-top: 2em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  text-align: right; }
  footer > .contact--links {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    footer > .contact--links > li {
      display: inline-block;
      padding-left: 0.1em;
      padding-right: 0.1em; }
  footer > .contact--owner {
    font-size: 40%;
    vertical-align: super; }

.logo {
  display: inline-block;
  font-size: 200%;
  /* alt text should be big enough */
  vertical-align: top; }
  .logo.logo--left {
    width: 65%; }
  .logo.logo--right {
    border-radius: 50%;
    float: right;
    width: 25%; }
