body {
  $_bg: #F9F9F9;

  background: $_bg;
  color: $text-color;
  font-family: "Georgia", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;

  h2 {
    color: $heading-color;
    margin-top: 1.5em;
  }

  p {
    text-align: justify;
    vertical-align: top;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* ensure alt text of image is centered too */
    width: 100%;
  }

  .container {
    margin: 0 auto;
    width: 90%;
  }

  header {
    margin-bottom: 2em;
    margin-top: 2em;
  }

}

/* And now some extensions for bigger devices, mobile first for the win! */

@media (min-width: $xs-device) {

  body {
    font-size: 120%;

    .container {
      /*width: 85%;*/
    }
  }

}

@media (min-width: $sm-device) {
  /* OK */
}

@media (min-width: $md-device) {

  body {
    font-size: 150%;

    .container {
      /*width: 80%;*/
    }
  }

}

@media (min-width: $lg-device) {

  body {
    font-size: 160%;

    .container {
      width: 60%;
    }
  }

}

@media (min-width: $xl-device) {

  body {
    font-size: 170%;

    .container {
      width: 45%;
    }
  }

}
