.contact {
  display: table;

  > .contact--icon,
  > .contact--description {
    display: table-cell;
    vertical-align: middle;
  }

  > .contact--icon {
    width: 1%;
  }

  > .contact--description {
    padding-left: 0.5em;
  }
}
