a {
  color: $link-color;
  font-family: $font-family-emphasized;

  &,
  &:active,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &.is-active {
    color: $link-hover-color;
    text-decoration: underline;
  }
}
