.logo {
  font-size: 200%; /* alt text should be big enough */
  vertical-align: top;

  &.logo--lettering {
    margin-top: 0.5em;
    width: 50%;
  }

  &.logo--profile {
    border-radius: 50%;
    width: 25%;
  }
}
