// Variables
@import 'base/variables';
// External
@import 'external/reset';
@import 'external/syntax';
@import 'external/font-awesome';
@import 'external/pacifico';
@import 'external/katex';
@import 'external/source-sans-pro';
// Base
@import 'base/global';
@import 'base/utility';
// Posts
@import 'layouts/posts';
@import 'layouts/blog';
@import 'layouts/page';
@import 'layouts/tags';
@import 'layouts/search';
// Includes
@import 'includes/footer';
@import 'includes/post_nav';
@import 'includes/navbar';
@import 'includes/portfolio';
@import 'includes/grid';
@import 'includes/share_buttons';
@import 'includes/blog_nav.scss';


h1.title,
.subtitle {
  text-shadow: none;
}

h1.title {
  padding: 0 0 0.5em 0;
}

.call-out {
  p,
  a,
  li,
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-shadow: none;
  }
}

.tag-posts .tag-title a {
    margin-left: 0;
}

.tag-posts .meta {
    display: block;
    float:none;
}

.site-header img.avatar {
  width: auto;
  margin-top: 0;

  @media screen and (min-width: $break) {
    margin-top: -10px;
  }
}

.site-header h1.site-title {
  display: none;
}

.footer-icons {
  margin-bottom: 1em;
}

.home header > img {
  width: 65%;
}

.home header > img.avatar {
  border-radius: 50%;
  width: 50%;
}

article header {
  margin-bottom: 0;
}

.posts .post-teaser .post-img,
.button {
  border-radius: 0;
}

// not for tags
.post-content .button {
  width: 100%;
  text-align: center;
}

.tag-list a.button {
  width: auto;
}

.posts .post-teaser .post-img
{
  height: 100%;
}

.column img {
  padding: 0 6% 0 0;
  margin-left: 0;
  margin-right: 0;
}

.row img {
  padding: 1%;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  box-shadow: none;
  border-left: 2px solid $text-color;

  @media (max-width: $break) {
    font-size: 0.8em;
  }
}

.home.links {
  .button {
    margin: 0 0 1em 0;
  }
  h3 {
    text-align: center;
  }
}
