<!DOCTYPE html>
<html lang="de">
<head>
  {% include meta.html %}
  <link rel="stylesheet" type="text/css" href="/css/blog.css"/>
</head>
<body>

<div class="container">
  <header>
    <p>Hi, ich bin</p>
    {% include logo.html %}
    <p class="right">und ich entrümple die Kammer des Schreckens</p>
  </header>

  <hr>

  <div class="intro">
    {% include avatar.html %}
    <p>
      Die <a href="/">Frau Lyoner</a> möchte jetzt bloggen.
      Warum und so? Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
      diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
      sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    </p>
  </div>

  <hr>

  {{content}}

  {% include footer.html %}
</div>

</body>
</html>
